ansible/vars/eqiad1-secrets.yaml filter=git-crypt diff=git-crypt
ansible/files/csi-secret-cinderplugin.yaml.eqiad1.crypt filter=git-crypt diff=git-crypt
tofu/secrets.tf filter=git-crypt diff=git-crypt
